<div class="about">
  <section>
    <h1>Well, hello. I'm Rebecca.</h1>
    <p>I’m a senior JavaScript engineer at <a
  href="http://bocoup.com">Bocoup</a>, the co-host of the <a
  href="http://yayquery.com">yayQuery podcast</a>, a co-organizer of <a
  href="http://texasjavascript.com">TXJS</a>, a contributor to the jQuery
  Cookbook from O’Reilly, and the author of the open-source <a
  href="http://jqfundamentals.com">jQuery Fundamentals</a>.  I speak and write
  frequently about JavaScript topics, including talks at JSConf.eu 2010 and
  JSConf 2011. I live in Durham, North Carolina, with my partner, our dog Ellie, and
  two terrible cats.

  This is my blog, but you can also find me elsewhere on the internet:</p>

  <p>
    <a href="http://twitter.com/rmurphey">Twitter</a> |
    <a href="http://www.linkedin.com/in/rmurphey">LinkedIn</a> |
    <a href="http://www.slideshare.net/rmurphey">Slideshare</a> |
    <a href="http://github.com/rmurphey">Github</a> |
    <a href="http://coderwall.com/rmurphey">Coderwall</a>
  </p>
  </section>
</div>


